.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-container {
  display: flex;
  flex: 1;
  overflow: hidden; /* important */
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
